body {
  background-color: rgb(203, 255, 196);
}
td {
  border: 2px solid rgb(0, 255, 242);
  background-color: rgb(168, 255, 37);
  border-radius: 0.2cap;
}
th {
  border: 2px solid rgb(255, 204, 0);
  background-color: rgb(225, 255, 0);
  border-radius: 0.2cap;
}
